@{
    ViewBag.Title = "LearnerList";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";

}

<h2>Assign Course to Learners </h2>
@model M3LMS.ViewModels.Learner

@*<script src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@*<script src="~/Scripts/js/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />*@



<!-- Alert -->
@*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <link href="~/Content/css/popup/alert.min.css" rel="stylesheet" />
    <script src="~/Content/css/popup/alert.min.js"></script>
    <link href="~/Content/css/popup/theme.min.css" rel="stylesheet" />*@

<style>
    .status-box {
        float: left;
        position: relative;
        top: 6px;
    }
</style>
<div id="content">
    <div class="panel">
        <div class="panel-body">
            <div class="page-heading">
                <h2 class="pull-left">Create Mapping</h2>
            </div>
            @using (Html.BeginForm(new { }))
            {

                //@Html.ValidationSummary(false)
                <div class="form-horizontal form-wrpr">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Department Name<span class="form-colon">:</span></label>
                        <div class="col-sm-6">

                            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DeptLists as IEnumerable<SelectListItem>, "Select Department", new { @class = "form-control", @required = "true", validate = "true" })
                            @Html.ValidationMessageFor(model => model.DepartmentId, "Please Select the Department")

                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div id="usercourselistID">
                    <div class="form-horizontal form-wrpr">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Course Name<span class="form-colon">:</span></label>
                            <div class="col-sm-6">
                                @Html.ListBoxFor(model => model.SelectedCourseIdlist, ViewBag.AllCourseLists as MultiSelectList, new { @class = "form-control", @required = "true", validate = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="page-heading">
                        <h2 class="pull-left">Learners List</h2>
                    </div>


                    <table class="table table-hover my-table">
                        <thead>

                            <tr>
                                <th id="SelectAll">Select</th>
                                <th>Name </th>
                                <th>Email Id</th>
                                <th>View Course</th>
                                @*<th>Active Status</th>*@
                                <th>Assign Course</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (M3LMS.ViewModels.UserWithCourse user in ViewBag.LearnerList)
                            {
                                <tr>
                                    <td><input type="checkbox" name="user" id="user" value="@user.EmailId" /></td>
                                    <td>@user.Name</td>
                                    <td>@user.EmailId</td>
                                    <td style="width:40%">@user.CourseName</td>
                                    <td>@Html.ActionLink("Assign Course", "AssignCoursebyUser", new { EmailId = @user.EmailId, Name = @user.Name, DepId = @user.DepartmentId })</td>


                                </tr>

                            }

                        </tbody>

                    </table>
                </div>


                <input type="submit" name="command" value="AssignCourse" class="btn btn-primary">
                <script type="text/javascript">
                    //$(function () {
                    //    $("#txtCreateDate").datepicker({
                    //        changeMonth: true,
                    //        changeYear: true
                    //    });
                    //});

                    $(document).ready(function () {

                        $("#SelectAll").click(function () {


                            if (!$("#user").hasClass("newChecked")) {

                                $("#user").addClass("newChecked");
                                $("#user").prop('checked', true);
                            }
                            else {
                                $("#user").removeClass("newChecked");
                                $("#user").prop('checked', false);
                            }

                        });

                        $("#DepartmentId").change(function () {

                            $.ajax({
                                url: "/Manager/GetUserListByDepartment/" + $(this).val(),
                                data: { depId: $(this).val() /* add other additional parameters */ },
                                cache: false,
                                type: "POST",
                                dataType: "html",

                                success: function (data, textStatus, XMLHttpRequest) {
                                    $("#usercourselistID").html(null);
                                    $("#usercourselistID").html(data); // HTML DOM replace
                                }
                            });
                        });


                    })


                </script>

            }
            <div class="clearfix"></div>
            <div class="btn-wrpr">


            </div>



        </div>

    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        //$('.my-table').DataTable({
        //    buttons: [
        //    'selectAll',
        //    'selectNone'
        //    ],
        //    language: {
        //        buttons: {
        //            selectAll: "Select all items",
        //            selectNone: "Select none"
        //        }
        //    }

        //});
    });
</script>
@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@

@*<script src="~/Scripts/js/Sortable/jquery.dataTables.min.js"></script>*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>*@

@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/js/DateValidator.js"></script>*@


